{%- doc -%}
Renders media block contents (used in _media and _media-without-appearance blocks)

@param {object} [block] - The block object
@param {boolean} [unset_image_tag] - if true, ignores the image focal point in the image

@param {article} [block] - The block article
@param {show_date}
@param {show_image}
@param {show_author}
@param {show_excerpt}
@param {show_tags}
{%- enddoc -%}


<div class="article-card">
  {% if show_image %}
    <div class="article-card__image">
      <img src="{{ article.image.src | image_url }}" alt="">
    </div>
  {% endif %}
  <div class="article-card__title">{{ article.title }}</div>
  <div class="article-card__tags">{{ article.tags }}</div>
  {% if show_tags %}
    <div class="article-card__excerpt">{{ article.excerpt | strip_html | truncatewords: 30 }}</div>
  {% endif %}
  <div>
    {% if show_date %}
      <span class="article-card__author">{{ article.author }}</span>
    {% endif %}
    {% if show_author %}
      <span class="article-card__date">{{ article.published_at | time_tag: format: 'date' }}</span>
    {% endif %}
  </div>
</div>

{% stylesheet %}
.article-card{width: 100%;}
.article-card .article-card__image{width: 100%;}
.article-card .article-card__image img{width: 100%;}
{% endstylesheet %}