<a class="product-card relative" href="{{ product.url }}">
  <div class="product-card__image">
    <img src="{{ product.featured_image | image_url }}" alt="{{ product.featured_image_alt }}"/>
  </div>
  <div class="product-card__title">{{ product.title }}</div>
  <div class="product-card__price">{{ product.price | money }}</div>

  <div class="absolute" style="top: 0; left: 0;">
    <div style="width: 1em; height: 1em;background: red;"></div>
  </div>
</a>