<nav class="pagination">
  <ul class="pagination__list">
    {% if paginate.previous %}
      <li class="pagination__item pagination__item_previous">
        <a href="{{ paginate.previous.url }}">
          <i class="bi bi-chevron-left"></i>
        </a>
      </li>
    {% endif %}

    {% for part in paginate.parts %}
      <li class="pagination__item">
        {%- if part.is_link -%}
          <a href="{{ part.url }}">{{ part.title }}</a>
        {% else %}
          <a aria-disabled="true" role="link">{{ part.title }}</a>
        {% endif %}
      </li>
    {% endfor %}

    {% if paginate.next %}
      <li class="pagination__item pagination__item_next">
        <a href="{{ paginate.next.url }}">
          <i class="bi bi-chevron-right"></i>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>

{% stylesheet %}
.pagination .pagination__list{display:flex;flex-direction:row;justify-content:center;padding:15px 0;gap:10px;}
{% endstylesheet %}