{% doc %}
{% enddoc %}

<div class="product-card relative card" data-available="{{ product.available }}" data-product-id="{{ product.id }}">
  <a class="product-card__image" href="{{ product.url }}">
    <img src="{{ product.featured_image |  image_url }}" alt="{{ product.featured_image_alt }}">
  </a>
  <div class="product-card__title" title="{{ product.title | escape }}">{{ product.title | escape }}</div>
  <div class="product-card__price">
    <div class="sale-price">{{ product.price | money }}</div>
    {% if product.compare_at_price != blank %}
      <div class="regular-price">{{ product.compare_at_price | money }}</div>
    {% endif %}
  </div>
  <div class="product-card__vendor">{{ product.vendor }}</div>
</div>
