{% doc %}
{% enddoc %}

<div class="product-card relative card" data-available="{{ product.available }}" data-product-id="{{ product.id }}">
  <a class="product-card__image" href="{{ product.url }}">
    <img src="{{ product.featured_image |  image_url }}" alt="{{ product.featured_image_alt }}">
  </a>
  <div class="product-card__title">{{ product.title }}</div>
  <div class="product-card__price">
    <div class="sale-price">{{ product.price | money }}</div>
    {% if product.compare_at_price != blank %}
      <div class="regular-price">{{ product.compare_at_price | money }}</div>
    {% endif %}
  </div>
</div>

{% comment %}{% stylesheet %}{% endcomment %}
  {% comment %}.product-card{cursor:pointer;}{% endcomment %}
  {% comment %}.product-card .product-card__title{transition:all 0.3s ease-in-out;}{% endcomment %}
  {% comment %}.product-card:hover .product-card__title{text-decoration:underline;}{% endcomment %}
  {% comment %}.product-card__media{display:block;width: 100%; aspect-ratio:1;overflow:hidden;}{% endcomment %}
  {% comment %}.product-card__media img{width: 100%; height:100%;object-fit:contain;transition:all 0.3s ease-in-out}{% endcomment %}
  {% comment %}.product-card__media img:hover{transform:scale(1.1);}{% endcomment %}
  {% comment %}.product-card .product-card__price{display:flex;flex-direction:row;}{% endcomment %}
  {% comment %}.product-card .product-card__price .price-regular{text-decoration:line-through;}{% endcomment %}
