<html lang="{{ request.locale.iso_code }}">
  <head>
    <title>{{ shop.name }}</title>
    <meta name="description" content="{{ page_description | escape }}">
    {{ content_for_header }}
  </head>
<body>
<main>
  {{ content_for_layout }}
</main>
</body>
</html>