<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    {{- page_title -}}
    {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
    {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
    {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
  </title>

  {% if page_description %}
    <meta name="description" content="{{- page_description | escape -}}">
  {% endif %}
  {{ 'tarubi.css' | asset_url | stylesheet_tag }}

  {{ content_for_header }}
</head>
<body>
{% sections 'header-group' %}
<main id="MainContent" data-template="{{ template }}">
  {{ content_for_layout }}
</main>
{% sections 'footer' %}
</body>
</html>