<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    {{- page_title -}}
    {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
    {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
    {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
  </title>

  {% if page_description %}
    <meta name="description" content="{{- page_description | escape -}}">
  {% endif %}

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  {{ 'tarubi.css' | asset_url | stylesheet_tag }}

  {%- render 'scripts' -%}

  {% style %}
    .tarubi-container {
      max-width: {{ settings.global_width }}px;
      margin: 0 auto;
      container-type: inline-size;
      padding:0 10px;
    }
  {% endstyle %}

  {{ content_for_header }}

</head>
<body style="min-height: 100vh;display: flex;flex-direction: column;">
<header>
  {% sections 'header-group' %}
</header>
<main id="MainContent" data-template="{{ template }}" style="flex:1">
  {{ content_for_layout }}
</main>
<footer>
  {% sections 'footer-group' %}
</footer>
</body>
</html>