<section id="{{ section.id }}" class="section carousel relative {{ section.settings.container_type }}" style="aspect-ratio: 16 /9">
  <div class="slide_wrapper"></div>
  <div class="slide_paginagion"></div>
<script>
  (function () {
    window.addEventListener('load', function () {

      console.log("section id: ","{{ section.id }}")
      const slideshow = document.getElementById("{{ section.id }}");
      const slideWrapper = slideshow.querySelector(".slide_wrapper");
      const slides = slideWrapper.querySelectorAll(".slide");
      let activeIndex = -1;
      let timer = null;

      function toggleActive(index) {
        if(activeIndex === index) {
          return;
        }
        clearInterval(timer);
        activeIndex = (index + slides.length ) % slides.length;

        timer = setInterval(() => {
          toggleActive(activeIndex + 1);
        }, Number("{{ section.settings.number_timer }}"))
      }

      toggleActive(0);
    })
  })()
</script>
</section>

{% schema %}
{
  "name": "Carousel",
  "settings": [
    {
      "type": "select",
      "id": "container_type",
      "label": "Section Width",
      "default": "container-fluid",
      "options": [
        {
          "value": "container-fluid",
          "label": "Full Width"
        },
        {
          "value": "container-xs",
          "label": "Max 640px"
        },
        {
          "value": "container-sm",
          "label": "Max 768px"
        },
        {
          "value": "container-md",
          "label": "Max 1024px"
        },
        {
          "value": "container-lg",
          "label": "Max 1280px"
        },
        {
          "value": "container-xl",
          "label": "Max 1440px"
        },
        {
          "value": "container-2xl",
          "label": "Max 1600px"
        },
        {
          "value": "container-3xl",
          "label": "Max 1920px"
        }
      ]
    },
    {
      "type": "number",
      "id": "number_timer"
    }
  ],
  "blocks": [
    {
      "type": "carousel_item",
      "name": "Item 1",
      "settings": [
        ]
    }
  ],
  "presets": [
    {
      "name": "Carousel"
    }
  ]
}
{% endschema %}