<section id="{{ section.id }}" class="section carousel {{ section.settings.container_type }}" style="aspect-ratio: 16 /9">
  <div class="slide_wrapper">
    {{ section.blocks.size }}
  </div>
  <div class="slide_paginagion"></div>
<script>
  (function () {
    window.addEventListener('load', function () {
      console.log("section id: ","{{ section.id }}")
      const slideshow = document.getElementById("{{ section.id }}");
      console.log(slideshow);
      // const slideWrapper = slideshow.querySelector("");
    })
  })()
</script>
</section>

{% schema %}
{
  "name": "Carousel",
  "settings": [
    {
      "type": "select",
      "id": "container_type",
      "label": "Section Width",
      "default": "container-fluid",
      "options": [
        {
          "value": "container-fluid",
          "label": "Full Width"
        },
        {
          "value": "container-xs",
          "label": "Max 640px"
        },
        {
          "value": "container-sm",
          "label": "Max 768px"
        },
        {
          "value": "container-md",
          "label": "Max 1024px"
        },
        {
          "value": "container-lg",
          "label": "Max 1280px"
        },
        {
          "value": "container-xl",
          "label": "Max 1440px"
        },
        {
          "value": "container-2xl",
          "label": "Max 1600px"
        },
        {
          "value": "container-3xl",
          "label": "Max 1920px"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "carousel_item",
      "name": "Item 1",
      "settings": [
        ]
    }
  ],
  "presets": [
    {
      "name": "Carousel"
    }
  ]
}
{% endschema %}