<section id="{{ section.id }}" class="section carousel {{ section.settings.container_type }}"  style="aspect-ratio: {{ section.settings.aspect_ratio }}">
  <div class="slide_wrapper">
    {% for block in section.blocks %}
      <div class="slide">
        <img src="{{ block.settings.bg_image | image_url }}" alt="">
      </div>
    {% endfor %}
  </div>
  <div class="slide_paginagion"></div>
<script>
  (function () {
    window.addEventListener('load', function () {
      const slideshow = document.getElementById("{{ section.id }}");
      const slideWrapper = slideshow.querySelector(".slide_wrapper");
      const slides = slideWrapper.querySelectorAll(".slide");
      let activeIndex = -1;
      let timer = null;
      const autoplay = "{{ section.settings.autoplay }}"

      console.log("Autoplay: ", typeof autoplay);

      function toggleActive(index) {
        if(activeIndex === index) {
          return;
        }
        clearInterval(timer);
        activeIndex = (index + slides.length ) % slides.length;

        console.log(activeIndex, `translateY(-${activeIndex * 100}%)`);

        slideWrapper.style.transform = `translateY(-${activeIndex * 100}%)`;

        console.log("activeIndex", activeIndex);

        if(Boolean("{{ section.settings.autoplay }}") === true) {
          timer = setInterval(() => {
            toggleActive(activeIndex + 1);
          }, Number("{{ section.settings.autorotate_speed }}") * 1000)
        }
      }

      toggleActive(0);
    })
  })()
</script>
</section>

{% schema %}
{
  "name": "t:names.carousel",
  "settings": [
    {
      "type": "select",
      "id": "container_type",
      "label": "t:settings.section_width",
      "default": "tarubi-container",
      "options": [
        {
          "value": "w-full",
          "label": "t:options.full"
        },
        {
          "value": "tarubi-container",
          "label": "t:options.default"
        }
      ]
    },
    {
      "type": "text",
      "id": "aspect_ratio",
      "label": "t:settings.aspect_ratio",
      "default": "16 / 9"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "t:settings.autoplay",
      "default": true
    },
    {
      "type": "range",
      "id": "autorotate_speed",
      "label": "Retention Time",
      "info": "Work when auto-rotate",
      "min": 2,
      "max": 10,
      "unit": "s",
      "step": 1,
      "default": 5
    },
    {
      "type": "header",
      "content": "填充"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "顶部",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "底部",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "image_slide",
      "name": "Image Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "bg_image",
          "label": "Background Image"
        }
      ]
    },
    {
      "type": "video_slide",
      "name": "Video Slide",
      "settings": [
      ]
    }
  ],
  "presets": [
    {
      "name": "t:names.carousel"
    }
  ]
}
{% endschema %}