<section id="{{ section.id }}" class="section carousel {{ section.settings.container_type }}" style="aspect-ratio: 16 /9">
  <div class="slide_wrapper">
    {% for block in section.blocks %}
      <div class="slide">{{ block.type }}</div>
    {% endfor %}
  </div>
  <div class="slide_paginagion"></div>
<script>
  (function () {
    window.addEventListener('load', function () {
      const slideshow = document.getElementById("{{ section.id }}");
      const slideWrapper = slideshow.querySelector(".slide_wrapper");
      const slides = slideWrapper.querySelectorAll(".slide");
      let activeIndex = -1;
      let timer = null;
      const autoplay = "{{ section.settings.autoplay }}"

      console.log("Autoplay: ", typeof autoplay);

      function toggleActive(index) {
        if(activeIndex === index) {
          return;
        }
        clearInterval(timer);
        activeIndex = (index + slides.length ) % slides.length;

        console.log("activeIndex", activeIndex);

        if("{{ section.settings.autoplay }}" === true) {
          timer = setInterval(() => {
            toggleActive(activeIndex + 1);
          }, Number("{{ section.settings.autorotate_speed }}"))
        }
      }

      toggleActive(0);
    })
  })()
</script>
</section>

{% schema %}
{
  "name": "Carousel",
  "settings": [
    {
      "type": "select",
      "id": "container_type",
      "label": "Section Width",
      "default": "container-fluid",
      "options": [
        {
          "value": "container-fluid",
          "label": "Full Width"
        },
        {
          "value": "container-xs",
          "label": "Max 640px"
        },
        {
          "value": "container-sm",
          "label": "Max 768px"
        },
        {
          "value": "container-md",
          "label": "Max 1024px"
        },
        {
          "value": "container-lg",
          "label": "Max 1280px"
        },
        {
          "value": "container-xl",
          "label": "Max 1440px"
        },
        {
          "value": "container-2xl",
          "label": "Max 1600px"
        },
        {
          "value": "container-3xl",
          "label": "Max 1920px"
        }
      ]
    },
    {
      "type": "select",
      "id": "aspect-ratio",
      "label": "Aspect Ratio",
      "default": "16 / 9"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay",
      "default": true
    },
    {
      "type": "range",
      "id": "autorotate_speed",
      "label": "Retention Time",
      "info": "Work when auto-rotate",
      "min": 2,
      "max": 10,
      "unit": "s",
      "step": 1,
      "default": 5
    }
  ],
  "blocks": [
    {
      "type": "image_slide",
      "name": "Image Slide",
      "settings": [
      ]
    },
    {
      "type": "video_slide",
      "name": "Video Slide",
      "settings": [
      ]
    }
  ],
  "presets": [
    {
      "name": "Carousel"
    }
  ]
}
{% endschema %}