<div class="cart">
  {% content_for 'blocks' %}
  <div>
    {% for item in cart.items %}
      <div class="cart-product-item">
        <div class="cart-product__media">
          <img src="{{ item.image  }}" alt="" width="100%" height="100%" />
        </div>
        <div class="cart-product__info">
          <div class="cart-product__title">{{ item.title }}</div>
          <div class="cart-product__title">{{ item.product_title }}</div>
          <div class="cart-product__variant">{{ item.variant_title }}</div>
          <div class="cart-product__quantity">{{ item.quantity }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "t:names.cart",
  "settings": [],
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    },
    {
      "type": "_cart_title"
    }
  ],
  "presets": [
    {
      "name": "t:names.cart"
    }
  ]
}
{% endschema %}