<section id="{{ section.id }}" class="section collection {{ section.settings.container_type }}">
  <div  class="product-grid grid">
    {% for collection in collections %}
      <a class="product-card" href="{{ collection.url }}">
        <div class="product-card__image">
          <img src="{{ collection.featured_image | image_url }}" alt="{{ collection.title }}">
        </div>
        <div class="product-card__title">{{ collection.title }}</div>
      </a>

    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Product List",
  "settings": [
    {
      "type": "select",
      "id": "container_type",
      "label": "t:settings.section_width",
      "default": "tarubi-container",
      "options": [
        {
          "value": "w-full",
          "label": "t:options.full"
        },
        {
          "value": "tarubi-container",
          "label": "t:options.default"
        }
      ]
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Product List"
    }
  ]
}
{% endschema %}