<section data-section-id="{{ section.id }}">
  <div  class="product-grid grid">
    {% for collection in collections %}
      <a href="{{ collection.url }}">
        <div>
          <img src="{{ collection.featured_image | img_url }}" alt="{{ collection.title }}">
        </div>
        <div>{{ collection.title }}</div>
      </a>

    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Product List",
  "settings": [

  ],
  "blocks": [],
  "presets": [
    {
      "name": "Product List"
    }
  ]
}
{% endschema %}