<section class="footer" data-section-id="{{ section.id }}">
  {% for link in linklists[section.settings.menu].links %}
    <div>
      <a href="{{ link.url }}">{{ link.title }}</a>
    </div>
  {% endfor %}
  <div class="copyright">
    {{ settings.copyright }}
  </div>
  {% if customer %}
    <script>
      window.ShopifyCustomer = {
        id: "{{ customer.id }}",
        email: "{{ customer.email }}",
        firstName: "{{ customer.first_name }}",
        lastName: "{{ customer.last_name }}",
      }

    </script>
  {% endif %}
</section>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "footer"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Footer"
    }
  ]
}
{% endschema %}