<section class="section header flex-row items-center {{ section.settings.container_type }}" {{ section.settings.font_size }} id="{{ section.id }}" style="height: 48px;">
  <div class="nav flex-row items-center gap-10">
    {% for link in linklists[section.settings.menu].links %}
      <a class="nav-item" href="{{ link.url }}">{{ link.title }}</a>
    {% endfor %}
  </div>
  <div class="right ml-auto flex-row items-center gap-10">
    <div class="clickable">
      <span>
        {{- 'search.svg' | inline_asset_content -}}
      </span>
    </div>
    <div class="clickable">
      <span>
        {{- 'person.svg' | inline_asset_content -}}
      </span>
    </div>
    <div class="clickable">
      <span>
        {{- 'bag.svg' | inline_asset_content -}}
      </span>
    </div>
  </div>
  {% comment %} <div>
    {% for country in localization.available_countries %}
      <div>
        <span>{{ country.iso_code }}</span>
        <span>{{ country.name }}</span>
        <span>{{ country.currency.iso_code }}</span>
      </div>
    {% endfor %}
  </div> {% endcomment %}
</section>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:names.menu",
      "default": "main-menu"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "t:settings.alignment",
      "default": "justify-start",
      "options": [
        {
          "value": "justify-start",
          "label": "t:options.left"
        },
        {
          "value": "justify-center",
          "label": "t:options.center"
        },
        {
          "value": "justify-end",
          "label": "t:options.right"
        }
      ]
    },
    {
      "type": "select",
      "id": "height",
      "label": "t:settings.height",
      "default": "medium",
      "options": [
        {
          "value": "small",
          "label": "small"
        },
        {
          "value": "medium",
          "label": "medium"
        },
        {
          "value": "large",
          "label": "large"
        }
      ]
    },
    {
      "type": "select",
      "id": "container_type",
      "label": "t:settings.section_width",
      "default": "container-fluid",
      "options": [
        {
          "value": "container-fluid",
          "label": "Full Width"
        },
        {
          "value": "container-xs",
          "label": "Max 640px"
        },
        {
          "value": "container-sm",
          "label": "Max 768px"
        },
        {
          "value": "container-md",
          "label": "Max 1024px"
        },
        {
          "value": "container-lg",
          "label": "Max 1280px"
        },
        {
          "value": "container-xl",
          "label": "Max 1440px"
        },
        {
          "value": "container-2xl",
          "label": "Max 1600px"
        },
        {
          "value": "container-3xl",
          "label": "Max 1920px"
        }
      ]
    },
    {
      "type": "select",
      "id": "height",
      "label": "t:settings.font_size",
      "default": "text-base",
      "options": [
        {
          "value": "text-xs",
          "label": "XS"
        },
        {
          "value": "text-sm",
          "label": "SM"
        },
        {
          "value": "text-base",
          "label": "Normal"
        },
        {
          "value": "text-lg",
          "label": "LG"
        },
        {
          "value": "text-xl",
          "label": "XL"
        },
        {
          "value": "text-2xl",
          "label": "2XL"
        },
        {
          "value": "text-xl",
          "label": "3XL"
        }
      ]
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Header"
    }
  ]
}
{% endschema %}