<section class="section header flex-row items-center {{ section.settings.container_type }}" id="{{ section.id }}" style="height: 48px;">
  <div class="nav flex-row items-center gap-10">
    {% for link in linklists[section.settings.menu].links %}
      <a class="nav-item" href="{{ link.url }}">{{ link.title }}</a>
    {% endfor %}
  </div>
  <div class="right ml-auto flex-row items-center gap-10">
    <div>
      <span>
        {{- 'search.svg' | inline_asset_content -}}
      </span>
    </div>
    <div>
      <span>
        {{- 'person.svg' | inline_asset_content -}}
      </span>
    </div>
    <div>
      <span>
        {{- 'bag.svg' | inline_asset_content -}}
      </span>
    </div>
  </div>
  {% comment %} <div>
    {% for country in localization.available_countries %}
      <div>
        <span>{{ country.iso_code }}</span>
        <span>{{ country.name }}</span>
        <span>{{ country.currency.iso_code }}</span>
      </div>
    {% endfor %}
  </div> {% endcomment %}
</section>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "select",
      "id": "container_type",
      "label": "Section Width",
      "default": "container-fluid",
      "options": [
        {
          "value": "container-fluid",
          "label": "Full Width"
        },
        {
          "value": "container-xs",
          "label": "Max 640px"
        },
        {
          "value": "container-sm",
          "label": "Max 768px"
        },
        {
          "value": "container-md",
          "label": "Max 1024px"
        },
        {
          "value": "container-lg",
          "label": "Max 1280px"
        },
        {
          "value": "container-xl",
          "label": "Max 1440px"
        },
        {
          "value": "container-xl",
          "label": "Max 1600px"
        },
        {
          "value": "container-2xl",
          "label": "Max 1920px"
        }
      ]
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Header"
    }
  ]
}
{% endschema %}