<section id="{{ section.id }}" class="section-wrapper" style="padding-top:{{ section.settings.padding_top | append: 'px' }};padding-bottom:{{ section.settings.padding_bottom | append: 'px' }};">
  <div class="{{ section.settings.container_type }}">
    <article class="article">
      <div class="article__title">{{ article.title }}</div>
      <div class="article__date">{{ article.published_at | time_tag : format: 'date' }}</div>
      <div class="article__author">{{ article.author }}</div>
      <div class="article__content">{{ article.content }}</div>
    </article>
    <div class="comment">
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:names.blog_post",
  "settings":[
    {
      "type": "select",
      "id": "container_type",
      "label": "t:settings.section_width",
      "default": "tarubi-container",
      "options": [
        {
          "value": "w-full",
          "label": "t:options.full"
        },
        {
          "value": "tarubi-container",
          "label": "t:options.default"
        }
      ]
    },
    {
      "type": "header",
      "content": "填充"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "顶部",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "底部",
      "default": 20
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "t:names.blog_post"
    }
  ]
}
{% endschema %}