<script type="module" src="{{ 'cart.js' | asset_url }}" defer></script>
<script src="{{ 'quantity-selector.js' | asset_url }}" defer></script>

<div class="cart" style="padding-top:{{ section.settings.padding_top | append: 'px' }};padding-bottom:{{ section.settings.padding_bottom | append: 'px' }};">
  {% content_for 'blocks' %}
  <div class="cart-items {{ section.settings.container_type }}">
    {% for item in cart.items %}
      <cart-item data-index="{{ item.index | plus : 1 }}" data-cart-id="{{ item.id }}" data-variant-id="{{ item.variant_id }}">
        <div id="cart-item-{{ item.index | plus: 1 }}" class="cart-item">
          <a class="cart-item__media" href="{{ item.url }}">
            <img src="{{ item.image | image_url  }}" alt="" />
          </a>
          <div class="cart-item__info">
            <div class="cart-item__title">{{ item.product.title }}</div>
            <div class="cart-item__variants">
              {% for option in item.options_with_values %}
                <div class="cart-item__variant">
                  {{- option.value -}}
                  {% if forloop.last != true %}, {% endif %}
                </div>
              {% endfor %}
            </div>
            <div class="cart-item__unit_price">{{ item.price | money }}</div>
            <div class="cart-item__total_price">{{ item.final_line_price | money }}</div>
            <div class="cart-item__quantity">
              <quantity-selector>
                <button class="bi bi-dash" name="minus" type="button"></button>
                <label>
                  <input type="number" value="{{ item.quantity }}" min=0 name="quantity" step="1" />
                </label>
                <button class="bi bi-plus" name="plus" type="button"></button>
              </quantity-selector>
            </div>
          </div>
        </div>
      </cart-item>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "t:names.cart",
  "settings": [
    {
      "type": "select",
      "id": "container_type",
      "label": "t:settings.section_width",
      "default": "tarubi-container",
      "options": [
        {
          "value": "w-full",
          "label": "t:options.full"
        },
        {
          "value": "tarubi-container",
          "label": "t:options.default"
        }
      ]
    },
    {
      "type": "header",
      "content": "填充"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "顶部",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "底部",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    },
    {
      "type": "_cart_title"
    }
  ],
  "presets": [
    {
      "name": "t:names.cart"
    }
  ]
}
{% endschema %}

{% stylesheet %}
.cart-item{display:flex;flex-direction:row;}
.cart-item .cart-item__media{display:block;width:200px;aspect-ration:0;overflow:hidden;}
.cart-item .cart-item__media img{width:100%;height:100%;object-fit:contain;}
.cart-item .cart-item__variants{display:flex;gap:10px;}
{% endstylesheet %}