<section id="{{ section.id }}" class="section-wrapper">
  <div class="{{ section.settings.container_type }}">
    <article class="article">
      <div class="article__title">{{ article.title }}</div>
      <div class="article__date">{{ article.created_at | time_tag : format: 'date' }}</div>
      <div class="article__author">{{ article.author }}</div>
      <div class="article__content">{{ article.content }}</div>
    </article>
    <div class="comment">
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:names.blog_post",
  "settings":[
    {
      "type": "select",
      "id": "container_type",
      "label": "t:settings.section_width",
      "default": "tarubi-container",
      "options": [
        {
          "value": "w-full",
          "label": "t:options.full"
        },
        {
          "value": "tarubi-container",
          "label": "t:options.default"
        }
      ]
    },
  ],
  "blocks": [],
  "presets": [
    {
      "name": "t:names.blog_post"
    }
  ]
}
{% endschema %}