<section id="{{ section.id }}" class="section-wrapper">
<div class="section section-product {{ section.settings.container_type }}">
  <div class="product-media">
    {% for image in product.images %}
      <div class="product-media__image">
        <img src="{{ image | image_url }}" alt="{{ image.alt }}">
      </div>
    {% endfor %}
  </div>
  <div class="product-info">
    <div class="product-info__vendor">{{ product.vendor | escape}}</div>
    <div class="product-info__title">{{ product.title | escape }}</div>
    <div class="product-info__price">{{ product.price | money }}</div>
    <div class="product-info__old-price">{{ product.compare_at_price | money }}</div>
    {% if product.options_with_values.size > 1 %}
      <div class="product-info__variants">
        {% for option in product.options_with_values %}
          <fieldset class="product-info__option">
            <legend>{{ option.name }}</legend>
            {% for value in option.values %}
              <button>{{ value }}</button>
            {% endfor %}
          </fieldset>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
</section>


{% stylesheet %}
.section-product {
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 10px;
}
@media screen {max-width: 762px} {
.section-product {
grid-template-columns: 1fr;
}
}

.section-product .product-media {overflow: auto}
.section-product .product-media .product-media__image {width: 100%;aspect-ratio: 1}
.section-product .product-media .product-media__image img {width: 100%;height: 100%;object-fit:contain}
{% endstylesheet %}
{% schema %}
{
  "name": "t:names.product",
  "settings": [
    {
      "type": "select",
      "id": "container_type",
      "label": "t:settings.section_width",
      "default": "tarubi-container",
      "options": [
        {
          "value": "w-full",
          "label": "t:options.full"
        },
        {
          "value": "tarubi-container",
          "label": "t:options.default"
        }
      ]
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "t:names.product"
    }
  ]
}
{% endschema %}