{% doc %}
{% enddoc %}

<section id="{{ section.id }}" class="related-products">
  <div class="section">
    <div>{{ 'accessibility.loading_product_recommendations' | t }}</div>
    {{ recommendations.performed }}
    {{ recommendations.products_count }}
    {% if recommendations.performed and recommendations.products_count > 0 %}
      {% for recommendation in recommendations.products %}
        <div>{{ recommendation.title }}</div>
        {% render 'product-card', product: recommendation %}
      {% endfor %}
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "t:names.related_products",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "t:names.related_products"
    }
  ]
}
{% endschema %}